.mat-mdc-card-content {
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 13.5rem 15rem;
  grid-template-areas: "name-type image" "map map";
}

.location-name-type {
  grid-area: name-type;
}

app-location-image {
  grid-area: image;
}

app-location-map {
  grid-area: map;
}

.mat-mdc-card-title {
  font-weight: bold;
  font-size: 1.25em;
}

.mdc-card__actions {
  gap: .75rem;
  justify-content: flex-end;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle,
.mdc-card__actions {
  padding: 1.25rem;
}
