<mat-card>
  <mat-card-title>
    Share Location
  </mat-card-title>
  <mat-card-content>
    <div class="location-name-type">
      <mat-form-field appearance="outline">
        <mat-label>
          Location name:
        </mat-label>
        <input [(ngModel)]="locationName" matInput />
      </mat-form-field>
      <app-location-type></app-location-type>
    </div>
    <app-location-image></app-location-image>
    <app-location-map></app-location-map>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>
      Cancel
    </button>
    <button mat-raised-button color="primary">
      Save
    </button>
  </mat-card-actions>
</mat-card>
